.projects {
	min-height: 100vh;
}
.list {
	display: flex;
	flex-direction: column;
	gap: 10em;
	overflow: hidden;
}

.project {
	margin-top: 40px;
	z-index: 10;
	display: flex;
	align-self: flex-start;
	align-items: center;
}
.imageWrapper {

	padding: 60px 80px 60px 0;
	background: #3216bb;
	transition: all 0.5s ease;
	cursor: pointer;
	&:hover {
		transform: scale(0.9);
	}
}
.image {
	width: 100%;
}
.content {
	width: 40%;
	position: relative;
	padding: 6px 3px;
	border-radius: 4px;
	// top: 6em;
	left: -5em;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}
.reverse {
	flex-direction: row-reverse;
	.imageWrapper {
		padding-left: 80px;
		padding-right: 0;
	}
	.content {
		left: 5em;
	}
}
.title {
	font-size: 1.6em;
	font-weight: 700;
}
.description {
	font-size: 1em;
	font-weight: 400;
}
.link {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 1;
	text-transform: uppercase;
	width: fit-content;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px 6px;
	z-index: 100;
	&:hover {
		color: #1a1a1a;
	}
	&::after {
		position: absolute;
		content: '';
		height: 2px;
		background-color: var(--bg-color-red);
		width: 100%;
		bottom: 1px;
		display: block;
		transform-origin: bottom;
		transition: all 0.25s;
		z-index: -1;
	}
}
.link:hover::after {
	height: 100%;
}
@media (max-width: 1300px) {
	.projects {
		min-height: 100vh;
	}
	.list {
		display: flex;
		flex-direction: column;
		gap: 10em;
	}
}

@media (max-width: 768px) {
	.content {
		// top: 3em;
	}
}

@media (max-width: 600px) {
	.imageWrapper {
		padding: 40px 30px 40px 0;
	}
	.reverse {
		.imageWrapper {
			padding: 40px 0 40px 30px;
			padding-right: 0;
		}
		.content {
			left: 2.5em;
		}
	}
	.content {
		// top: 2em;
		left: -2.5em;
		background: #171718b7;
	}
	.title {
		font-size: 1.2em;
	}
	.description {
		font-size: 0.8em;
	}
	.link {
		font-size: 0.8em;
	}
}