.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1.5em;
	height: 15em;
	background-color: var(--bg-color-light);
	position: relative;
}
.btns {
	display: flex;
	gap: 12px;
}
.btn {
	border-radius: 50%;
	text-decoration: none;
	transition: 0.3s;
}
.btn:hover {
	transform: scale(1.1);
}
.icon {
	width: 50px;
	height: 50px;
	color: white;
}
.toHero {
	position: absolute;
	top: -20px;
	background-color: var(--bg-color-red);
	&:hover {
		animation: float 1.5s ease-in-out infinite;
	}
}
.toTopIcon {
	width: 30px;
	height: 30px;
}
@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}
