:root {
	--bg-color: #171718;
	--bg-color-light: rgba(40, 40, 40, 0.85);
	--bg-color-about: #ef6706;
	--bg-color-red: #ff4d5a;
	--primary-color: #38bdf8;
	--text-color: #ffffff;
	--container-width: 1200px;
	--bubble-size: 110px;
  	--bubble-js-size: 200px;
	--font-code: 'Source Code Pro', monospace;
}
