.title {
	font-size: 3em;
	font-weight: 600;
	width: fit-content;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		border-bottom: 18px solid #ff4d5a;
		width: 100%;
		display: block;
		left: 0.5em;
		top: 0.7em;
		z-index: -1;
	}
}
