@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	background-color: var(--bg-color);
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

body {
	min-width: 320px;
	min-height: 100vh;
	color: white;
	/* background-image:
		linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);

	background-size: 40px 40px; */
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
}

section {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

#root {
	min-height: 100vh;
}


@media (max-width: 1500px) {
	html {
		font-size: 0.875em;
	}
}
